*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.comtainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #121113;
}
.shiping_cal{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: #7E1C48;
}
.shiping_cal button{
    padding: 10px;
    border-radius: 5px;
     border: none;
    outline: none;
}

.inputText{
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}